@use '../base';

body {
    background-color: base.$mainColor;
    color: base.$mainTextColor;

    .container {
        font-family: base.$font;
        margin: 100px auto;
        width: 1000px;
    }


}
