@use '../base';

body {
    background-color: base.$mainColor;
    color: base.$mainTextColor;

    .container {
        font-family: 'Roboto Mono';
        margin: 0 auto;
        width: 1000px;
    }

}
