// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Japanese colors 

$mainColor: #F4F4F4;
$mainTextColor: #8A8A8A;
$altTextColor: white;
$indigoFlowerGrey: #4D80E6;
$plumGrey: #C099A0;
$whitePlumGrey: #E5E4E6;
$borderRadiusMain: 2px;
$font: 'Inter';

* {
    box-sizing: border-box;
}