@use '../../base';

.input {
    width: 300px;
    border-radius: base.$borderRadiusMain;
    outline: none;
    font-family: base.$font;
    font-weight: 400;
    font-size: 18px;
    padding: 6px 8px;
    color: base.$mainTextColor;
    border: none;
}

.input:focus {
    outline: 1px solid rgb(168, 168, 168);
}